src/.kdev4/
src/.ninja_deps
src/.ninja_log
src/AllMacros.txt
src/BROWSE
src/CMakeCache.txt
src/CMakeFiles/
src/CMakeSystemInformation.txt
src/TAGS
src/TeXmacs/progs/tm-mode.elc
src/autom4te.cache
src/build.ninja
src/cmake_install.cmake
src/cscope.*
src/debian
src/fig2ps.1.gz
src/misc/script
src/obj-*/
src/packages/debian/.debhelper
src/packages/debian/debhelper-build-stamp
src/packages/debian/files
src/packages/debian/texmacs.debhelper.log
src/packages/debian/texmacs/
src/rules.ninja
src/src.kdev4
src/src/CMakeFiles/
src/src/Makefile
src/src/Plugins/Qt/moc_*.cpp
src/src/Plugins/Qt/moc_*.cpp_parameters
src/src/Plugins/Qt/moc_*.cxx
src/src/Plugins/Qt/moc_*.cxx_parameters
src/src/cmake_install.cmake
src/texmacs.1.gz
src/texmacs.bin
texmacs*deb
src/Doxyfile
src/doxygen
tags
src/TeXmacs/fonts/tfm/pctex/
src/TeXmacs/fonts/type1/pctex/
src/TeXmacs/progs/scripts/
src/.dir-locals.el
