src/debian
src/packages/debian/files
src/packages/debian/texmacs.debhelper.log
src/packages/debian/texmacs/
src/packages/debian/.debhelper
src/packages/debian/debhelper-build-stamp
src/TeXmacs/progs/tm-mode.elc
src/cscope.*
src/BROWSE
src/TAGS
src/.kdev4/
src/src.kdev4
src/autom4te.cache
src/CMakeCache.txt
src/CMakeFiles/
src/src/CMakeFiles/
src/src/Makefile
src/src/Plugins/Qt/moc_*.cxx
src/src/Plugins/Qt/moc_*.cxx_parameters
src/src/Plugins/Qt/moc_*.cpp
src/src/Plugins/Qt/moc_*.cpp_parameters
src/src/cmake_install.cmake
src/cmake_install.cmake
src/fig2ps.1.gz
src/texmacs.1.gz
src/misc/script
src/texmacs.bin
texmacs*deb
src/.ninja_deps
src/.ninja_log
src/rules.ninja
src/build.ninja
src/CMakeSystemInformation.txt
src/obj-*/
src/AllMacros.txt
